doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Task Manager
      nav
        a(href='/') Home |
        a(href='/users') Users |
        a(href='/tasks') Tasks
    main
      block content
    footer
      p © #{new Date().getFullYear()}
